div.projectsContainer {
    padding: 0 20px;
    max-width: 100svw;

    h1 {
        position: sticky;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    section.slide {
        height: calc(100svh - 6rem);
        display: grid;
        padding-bottom: 32px;
        grid-template-rows: minmax(0, auto) minmax(0, auto);
        justify-items: center;

        >div.imageSlideText,
        >img,
        >div.content {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;

            >p {
                margin: 0;
            }
        }
    }
}