div.projectsContainer {

    gap: 10px;
    flex-wrap: wrap;
    width: 100svw;
    min-height: 100svh;
    padding: 20px;
    max-width: 100svw;

    section.slide>div.imageSlideText,
    section.slide>img,
    section.slide>div.content,
    & {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    div.swiper,
    section.slide {
        max-width: calc(100svw - 40px);

        div.swiper-wrapper {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(17, 1fr);
        }
    }

    h1 {
        position: sticky;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    section.slide {
        max-height: calc(100svh - 6rem);
        height: calc(100svh - 6rem);
        display: grid;
        padding-bottom: 32px;
        grid-template-columns: 100%;
        grid-template-rows: minmax(0, auto) minmax(0, auto);
        overflow: auto;
        justify-items: center;

        >div.imageSlideText,
        >img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;

            >p {
                margin: 0;
            }
        }

        >div.content {
            >p {
                margin: 0;
            }
        }
    }
}