section.slide {
    display: inline-flex;
    flex-direction: column;
    padding: 0px 20px 32px 20px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);

    >div.imageSlideText,
    >img {
        max-height: calc(50svh - 21px - 2.25rem);
        width: calc(100svw - 40px);
        object-fit: contain;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        >p {
            margin: 0;
        }
    }

    >div.content {
        flex: 0 0 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100svw - 40px);
        max-height: calc(100svh - 32px - 4.5rem);

        >p {
            margin: 0;
        }
    }
}