@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Faculty Glyphic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    background: rgb(222, 227, 232);
    color: #222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-block: 0.25em;
}

table td {
    padding: 10px;
}

a {
    all: unset;
    font-size: 20px;
}

small {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 20px;
}

div.banner,
div.banner>div.slider {
    height: 100svh;
    width: 100svw;
}

div.banner {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

div.banner>div.slider {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

div.banner>div.slider>div.item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -55%) rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg)) translateZ(360px);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1.5em;
}

i.icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

i.icon.github {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg');
}

i.icon.js {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/javascript.svg');
}

i.icon.ts {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/typescript.svg');
}

i.icon.html {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/html5.svg');
}

i.icon.css {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/css.svg');
}

i.icon.sass {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/sass.svg');
}

i.icon.tailwind {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/tailwindcss.svg');
}

i.icon.node {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/nodedotjs.svg');
}

i.icon.next {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/nextdotjs.svg');
}

i.icon.googlecloud {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/googlecloud.svg');
}

i.icon.react {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/react.svg');
}

i.icon.puppeteer {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/puppeteer.svg');
}

i.icon.jest {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jest.svg');
}

i.icon.git {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/git.svg');
}

i.icon.copilot {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/githubcopilot.svg');
}

i.icon.postman {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/postman.svg');
}

i.icon.npm {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/npm.svg');
}

i.icon.googlemaps {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/googlemaps.svg');
}

i.icon.redux {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/redux.svg');
}


i.icon.express {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/express.svg');
}

i.icon.firebase {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/firebase.svg');
}

i.icon.email {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gmail.svg');
}

div.banner>div.slider>div.item>div.header {
    width: 100%;
    height: 90px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: end;
    color: white;
    padding: 0 10px 0 0;
    justify-content: right;
}

div.banner>div.slider>div.item>div.header:has(a.git),
div.banner>div.slider>div.item>div.header:has(img) {
    justify-content: space-between;
}

div.banner>div.slider>div.item>div.header>a.git>i.icon {
    filter: invert(1);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

div.banner>div.slider>div.item>div.header>img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
}

div.banner>div.slider>div.item>div.main {
    position: absolute;
    top: 90px;
    left: 0;
    width: 400px;
    height: 310px;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

div.banner>div.slider>div.item.skills>div.main,
div.banner>div.slider>div.item.contact>div.main {
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.banner>div.slider>div.item.project>div.main>div.techs,
div.banner>div.slider>div.item.skills>div.main {
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(24px, 1fr));
    grid-auto-rows: 24px;
    justify-items: left;
    column-gap: 10px;
    row-gap: 5px;
}

div.banner>div.slider>div.item.project>div.main>div.techs>div,
div.banner>div.slider>div.item.skills>div.main>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.banner>div.slider>div.item.project>div.main {
    display: grid;
    grid-template-columns: auto 140px;
    grid-template-rows: 140px 24px auto;
    grid-template-areas:
        "desc img"
        "iconhead iconhead"
        "icon icon";
    padding: 0 0 10px 10px;
}

div.banner>div.slider>div.item.project>div.main>p.desc {
    grid-area: desc;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.banner>div.slider>div.item.project>div.header::after {
    content: '';
    display: block;
    position: absolute;
    left: 250px;
    top: 90px;
    width: 10px;
    height: 10px;
    z-index: 1;
    background: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 A10,10 0 0,1 10,10 L10,0 Z" fill="black"/></svg>') no-repeat center/contain;
    overflow: hidden;
}

div.banner>div.slider>div.item.project>div.main>img {
    width: 100%;
    height: 140px;
    grid-area: img;
    object-fit: cover;
    border-radius: 0 0 0 10px;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}