body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

table th {
    text-align: center;
    font-size: 1.5em;
}

table td {
    padding: 0.5em;
}

a {
    all: unset;
}

div.banner {
    height: 100svh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
}

div.banner>div.slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.banner>div.slider>div.item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    backdrop-filter: blur(5px);
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -55%) rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg)) translateZ(600px);
    padding: 1em;
}

div.banner>div.slider>div.item.profile>img {
    position: absolute;
    top: 0;
    left: 0;
}

div.banner>div.slider>div.item.contact,
div.banner>div.slider>div.item.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.banner>div.slider>div.item.project {
    display: block;
}

div.banner>div.slider>div.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
}

small {
    color: rgba(0, 0, 0, 0.25);
}

div.banner>div.slider>div.item.contact>small {
    margin-block: 0.5em;
}

div.banner>div.slider>div.item.project img {
    width: 50%;
    height: 50%;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

i.icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
}

i.icon.github {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg');
}

i.icon.js {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/javascript.svg');
}

i.icon.ts {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/typescript.svg');
}

i.icon.html {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/html5.svg');
}

i.icon.css {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/css.svg');
}

i.icon.sass {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/sass.svg');
}

i.icon.tailwind {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/tailwindcss.svg');
}

i.icon.node {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/nodedotjs.svg');
}

i.icon.next {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/nextdotjs.svg');
}

i.icon.googlecloud {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/googlecloud.svg');
}

i.icon.react {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/react.svg');
}

i.icon.puppeteer {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/puppeteer.svg');
}

i.icon.jest {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jest.svg');
}

i.icon.git {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/git.svg');
}

i.icon.copilot {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/githubcopilot.svg');
}

i.icon.postman {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/postman.svg');
}

i.icon.npm {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/npm.svg');
}

i.icon.googlemaps {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/googlemaps.svg');
}

i.icon.redux {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/redux.svg');
}


i.icon.express {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/express.svg');
}

i.icon.firebase {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/firebase.svg');
}

i.icon.email {
    content: url('https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gmail.svg');
}

div.banner>div.slider>div.item.project>div,
div.banner>div.slider>div.item.skills>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1.5em 1fr);
    gap: 1em;
    justify-items: left;
    align-items: center;
}