div.skillsContainer {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100svw;
    min-height: 100svh;
    padding: 20px;

    h1 {
        position: sticky;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    h1,
    h2 {
        width: 100%;
    }

    #education,
    #languages {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
    }
}