div.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 85px;
    padding: 20px 85px 20px 20px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    >svg {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45px;
        width: 45px;
        height: 45px;
        fill: white;
        cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
        height: 130px;
        padding: 20px 130px 20px 20px;

        >svg {
            flex-basis: 90px;
            width: 90px;
            height: 90px;
        }
    }

    div.menu {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0 0 0 50%;
        color: white;
        transition: all 0.5s ease;
        padding: 0px;
        display: inline-flex;
        flex-direction: column;

        >div.menuButtonContainer {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 1;

            >button {
                all: unset;
                height: 45px;
                width: 45px;
                text-align: center;
                overflow: hidden;
                flex-shrink: 0;
                flex-grow: 0;
                z-index: 1;
                cursor: pointer;

                >svg {
                    fill: white;
                }
            }

            @media screen and (min-width: 1024px) {
                >button {
                    height: 90px;
                    width: 90px;
                }
            }

            >button:first-of-type {
                width: 0;
                height: 0;
                z-index: 0;
                transition: all 0.5s ease;
            }
        }

        >div.menuItems {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: inline-flex;
            flex-direction: row;

            >ul {
                width: 0;
                height: 0;
                margin: 0;
                padding: 0;
                display: inline-flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-around;
                font-size: 0;
                line-height: 0;
                opacity: 0;
                z-index: 0;
                text-align: center;
                flex-shrink: 0;
                list-style-type: none;

                >li {
                    display: inline-flex;
                    align-content: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                }

                &:first-of-type {
                    transition: all 0.5s ease;
                }
            }

        }

        @media screen and (min-width: 1024px) {
            width: 90px;
            height: 90px;
            font-size: 40px;
            line-height: 50px;

            >button {
                height: 90px;
                width: 90px;
            }

            >div.menuItems>ul {
                font-size: 40px;
                line-height: 50px;
                padding: 20px 130px 20px 20px;
            }
        }
    }
}