@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

div.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 85px;
    padding: 20px 85px 20px 20px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    >svg {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45px;
        width: 45px;
        height: 45px;
        fill: white;
        cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
        height: 130px;
        padding: 20px 130px 20px 20px;

        >svg {
            flex-basis: 90px;
            width: 90px;
            height: 90px;
        }
    }

    div.menu {
        position: fixed;
        top: 20px;
        right: 20px;
        flex: 0 0 45px;
        width: 45px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        transition: all 0.5s ease;
        padding: 0px;
        display: flex;
        flex-direction: column;
        z-index: 3;
        flex-wrap: wrap;
        clip-path: view-box;
        font-family: 'Playfair Display', serif;
        transition-property: top, right, background-color, width, height, padding;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        >div {
            width: 100%;
            display: inline-flex;

            &.menuButtonContainer {
                flex-direction: row;
                height: 45px;
                justify-content: space-between;

                >button {
                    all: unset;
                    flex: 0 0 45px;
                    width: 45px;
                    height: 45px;
                    z-index: 1;
                    color: white;
                    fill: white;
                    cursor: pointer;

                    &.backButton {
                        z-index: 0;
                        opacity: 0;
                        transition: all 0.5s ease;

                        &.visible {
                            opacity: 1;
                        }
                    }

                    &:last-child {
                        position: fixed;
                        top: 20px;
                        right: 20px;
                    }
                }
            }

            &.menuItems {
                padding: 20px 0 0 0;
                height: calc(100% - 45px);
                align-items: center;
                display: flex;
                flex-wrap: nowrap;

                >ul {
                    flex: 1 0 100%;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    transition: transform 0.5s ease;

                    &.mainMenu {
                        transform: translateX(0);
                    }

                    &.subMenu {
                        transform: translateX(-100%);
                    }

                    >li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >div {
                            width: 0;
                            height: 0;
                            display: inline-flex;
                            flex-direction: row;
                            cursor: pointer;
                            gap: 10px;
                            line-height: 0;
                            font-size: 0;
                            transition-property: gap, line-height, font-size, width, height;
                            transition-duration: 0.5s;
                            transition-timing-function: ease;
                            overflow: hidden;

                            &:hover {
                                gap: 20px;
                            }
                        }
                    }
                }
            }
        }

        &.expanded {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
            flex-direction: row;
            font-size: 20px;
            line-height: 25px;

            >div.menuItems>ul>li>div {
                font-size: 20px;
                line-height: 25px;
                width: max-content;
                height: 100%;
            }
        }

        @media screen and (min-width: 1024px) {
            flex: 0 0 90px;
            width: 90px;
            height: 90px;

            >div {
                &.menuButtonContainer {
                    height: 90px;

                    >button {
                        flex: 0 0 90px;
                        width: 90px;
                        height: 90px;
                    }
                }
            }

            &.expanded>div.menuItems>ul>li>div {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}