div.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 85px;
    padding: 20px 85px 20px 20px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    >svg {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45px;
        width: 45px;
        height: 45px;
        fill: white;
        cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
        height: 130px;
        padding: 20px 130px 20px 20px;

        >svg {
            flex-basis: 90px;
            width: 90px;
            height: 90px;
        }
    }

    div.menu {
        position: fixed;
        top: 20px;
        right: 20px;
        flex: 0 0 45px;
        width: 45px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        transition-duration: 0.5s;
        transition-property:
            font-size, line-height,
            width, height,
            background-color,
            padding;
        transition-timing-function: ease;
        padding: 0px;
        display: flex;
        flex-direction: column;
        font-size: 0;
        line-height: 0;
        z-index: 3;
        flex-wrap: wrap;
        clip-path: view-box;

        >div {
            width: 100%;
            display: inline-flex;

            &.menuButtonContainer {
                flex-direction: row;
                height: 45px;

                >button {
                    all: unset;
                    flex: 0 0 45px;
                    width: 45px;
                    height: 45px;
                    z-index: 1;
                    color: white;
                    fill: white;

                    &:first-child {
                        z-index: 0;
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 0.5s;
                        transition-timing-function: ease;
                    }

                    &:last-child {
                        position: fixed;
                        top: 20px;
                        right: 20px;
                    }
                }
            }

            &.menuItems {
                padding: 20px 0 0 0;
                height: calc(100% - 45px);
                align-items: center;
                display: flex;
                flex-wrap: nowrap;

                >ul {
                    flex: 1 0 100%;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                    transition-property:
                        font-size, line-height,
                        width, height,
                        background-color,
                        transform,
                        padding;
                    ;

                    >li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >div {
                            display: inline-flex;
                            flex-direction: row;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        &.expanded {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 20px;
            flex-direction: row;
            font-size: 20px;
            line-height: 25px;
        }

        @media screen and (min-width: 1024px) {
            flex: 0 0 90px;
            width: 90px;
            height: 90px;

            >div {
                &.menuButtonContainer {
                    height: 90px;

                    >button {
                        flex: 0 0 90px;
                        width: 90px;
                        height: 90px;
                    }
                }
            }

            &.expanded {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}