div.icons {
    display: inline-flex;
    flex-direction: row;
    gap: 5px;

    span.material-symbols-outlined {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45px;
        font-size: 45px;
    }

    svg,
    img {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45px;
        width: 45px;
        height: 45px;
        fill: white;
    }
}