@import '../App.scss';

div {
    &.skills {
        justify-content: center;
        align-items: center;
        gap: 4px;
        display: flex;
        margin-bottom: 20px;
    }

    &.skillNamesAndStarsBase {
        flex-direction: column;
        justify-content: flex-start;
        display: inline-flex;
    }

    &.skillNames {
        @extend .skillNamesAndStarsBase;
        align-items: flex-end;
    }

    &.skillName {
        @extend %textBase;
        text-align: right;
        line-height: 20px;
    }

    &.skillStars {
        @extend .skillNamesAndStarsBase;
        padding-top: 2px;
        padding-bottom: 2px;
        align-items: flex-start;
        gap: 4px;
    }

    &.skillStarRow {
        align-self: stretch;
        justify-content: flex-start;
        align-items: center;
        display: inline-flex;
    }
}

img {
    &.profile {
        @extend %imgBase;
        max-height: 213px;
    }
}