svg.headerIcons {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45px;
    width: 45px;
    height: 45px;
    fill: white;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    svg.headerIcons {
        flex-basis: 90px;
        width: 90px;
        height: 90px;
    }
}