@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}