@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

div {
    &.mainContainer {
        width: 100svw;
        height: 100svh;
        overflow: hidden;
        color: white;
        font-family: 'Playfair Display', serif;
        word-wrap: break-word;
        text-align: center;
        display: inline-flex;
    }

    &.riddleContainer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url(./assets/star_texture.png);

        div {
            &.question {
                height: 200px;
                border-radius: 7.5px;
                border: 1px solid white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 3.20px;
                font-weight: 700;
            }

            &.fortyTwo {

                >div:nth-child(1),
                >div:nth-child(2) {
                    width: 45px;
                    height: 119px;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;

                    div.numberContainer {
                        width: 45px;
                        height: 45px;
                        background: linear-gradient(180deg, #999999 0%, white 50%, #999999 100%);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
                        border-radius: 7.5px;
                        overflow: scroll;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        /* hide scrollbar in Internet Explorer 10+ */
                        -ms-overflow-style: none;
                        /* hide scrollbar in Firefox */
                        scrollbar-width: none;

                        /* hide scrollbar in Safari, Opera and Chrome */
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        span {
                            width: 45px;
                            height: 45px;
                            color: black;
                            font-size: 32px;
                            letter-spacing: 0px;
                            font-weight: 700;
                            line-height: 45px;
                        }
                    }

                    >span:nth-child(1),
                    >span:nth-child(3) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        font-size: 20px;
                        line-height: 20px;
                        font-weight: 700;
                        letter-spacing: 0px;
                    }

                    >span:nth-child(1) {
                        rotate: -90deg;
                    }

                    >span:nth-child(3) {
                        rotate: -90deg;
                    }
                }

                >div:nth-child(2) {
                    left: 55px;
                }
            }

            &.help {
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 7.5px;
                border: 1px rgba(255, 255, 255, 0.3) solid;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: inline-flex;
                color: rgba(255, 255, 255, 0.3);
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 2px;

                span {
                    width: 20px;
                    rotate: 90deg;
                    letter-spacing: 0px;
                }
            }
        }
    }

    &.transitionContainer {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url(./assets/star_texture.png);
        padding: 20px;
    }
}