@use './mixins.scss';

b {
    font-weight: 700;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

div {
    &.rows {
        width: 100svw;
        height: 100svh;
        overflow: hidden;
    }

    &.columns {
        @include mixins.container;

        & {
            width: 100svw;
            height: 100svh;
            flex-direction: row;
            align-items: flex-start;
            padding: 0;
            gap: 0;
        }

        >div {

            &.transitionContainer,
            &.solutionContainer,
            &.sorryContainer,
            &.skillsContainer,
            &.contactContainer,
            &.aboutMeContainer,
            &.caseStudyContainer:not(:nth-of-type(7)),
            &.caseStudyContainer:not(:nth-of-type(8)),
            &.caseStudyContainer:not(:nth-of-type(9)),
            &.caseStudyContainer:not(:nth-of-type(10)),
            &.caseStudyContainer:not(:nth-of-type(11)),
            &.caseStudyContainer:not(:nth-of-type(12)) {
                @include mixins.container;
            }

            &.profilePictureContainer,
            &.tweContainer,
            &.myFlixContainer,
            &.caseStudyContainer:nth-of-type(7),
            &.caseStudyContainer:nth-of-type(8),
            &.caseStudyContainer:nth-of-type(9),
            &.caseStudyContainer:nth-of-type(10),
            &.caseStudyContainer:nth-of-type(11),
            &.caseStudyContainer:nth-of-type(12) {
                @include mixins.imageContainer;
            }

            &.transitionContainer,
            &.solutionContainer,
            &.sorryContainer {
                background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 1) 100%), url(./assets/star_texture.png);

                span.solution {
                    @include mixins.borderedText;
                }
            }

            &.profilePictureContainer {
                background: linear-gradient(rgb(80, 76, 72), rgb(46, 46, 46));
            }

            &.skillsContainer {
                background: linear-gradient(180deg, #570000 0%, #E35E5E 100%);

                div.skills {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                }

                div.skillNames,
                div.skillStars {
                    display: inline-flex;
                    flex-direction: column;
                    text-align: right;
                }
            }

            &.contactContainer {
                background: linear-gradient(180deg, #820202 0%, #E35E5E 100%);
            }

            &.aboutMeContainer {
                background: linear-gradient(180deg, #C83434 0%, #E35E5E 100%);
            }

            &.tweContainer {
                background: linear-gradient(180deg, #A51919 33%, #E35E5E 100%);
            }

            &.myFlixContainer {
                background: linear-gradient(180deg, #C83434 33%, #E35E5E 100%);
            }

            &.caseStudyContainer {
                background: black;
            }
        }
    }
}