@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5rem; //same as icon size
  font-weight: 400;
  color: white;
  text-align: center;
}

button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 1.5rem;
  padding: 0 0.5rem;
  flex-direction: row;
}

svg.icon {
  flex: 0 0 1.5rem;
  fill: white;
}

div.iconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  flex-direction: row;
}

button,
svg.icon {
  cursor: pointer;
}